<!DOCTYPE html>
<html lang="en">
  <head>        
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 
  </head>

  <body class="text-center">
    <header>
      <h2>Your Care Team</h2>
    </header>

    <section>
      <div class="row">
        <div class="gallery"> <!--image gallery of 3 images-->
          <a target="_blank" href="about">
            <img src="../images/doctor.jpg" alt="Primary Care Physician" width="300" height="300">
          </a>
          <div class="desc">Your Primary Care Physician: Dr. Mia</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="about">
            <img src="../images/nurse1.jpg" alt="Nurse" width="300" height="300">
          </a>
          <div class="desc">Nurse Nora</div>
        </div>
    
        <div class="gallery">
          <a target="_blank" href="about">
            <img src="../images/nurse1.jpg" alt="Nurse" width="300" height="300">
          </a>
          <div class="desc">Nurse Laila</div>
        </div>
      </div>
    </section>

    <footer>
        <a href="/" class="btn btn-primary">Home</a>
    </footer>  

  </body>

</html>




