<!DOCTYPE html>
<html lang="en">
  <head>        
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 
  </head>

  <body>
    <main>
        <div class="container">
          <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
      
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
              <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
              <li><a href="/careteam" class="nav-link px-2 link-dark">Care Team</a></li>
              <li><a href="/contact" class="nav-link px-2 link-dark">Contact Us</a></li>

            </ul>
      
            <div class="col-md-3 text-end">
              <a href="/login" class="btn btn-outline-primary me-2">Login</a>
              <a href="/register" class="btn btn-primary">Register</a>
            </div>
          </header>
        </div>

    <header class="text-center">
        <h2> Meet Our Care Team</h2>
    </header>

    <link rel="stylesheet" href="{{ url_for('static', filename='careteam.css') }}"> 
   
    <section class="text-center">
      <div class="row">
        <div class="gallery">
          <a target="_blank" href="careteam">
            <img src="https://raw.githubusercontent.com/rimashah1/PssP-enhancements/main/images/doctor1.jpg" alt="Primary Care Physician" width="300" height="300">
          </a>
          <div class="desc">Dr. Mia</div>
          <p> Dr. Mia has been a physician for 7 years. She earned her MD from Stony Brook School of Medicine and completed her residency at NYU Langone. In her spare time, she enjoys concerts and rock climbing. </p>
        </div>

        <div class="gallery"> 
            <a target="_blank" href="careteam">
              <img src="https://raw.githubusercontent.com/rimashah1/PssP-enhancements/main/images/doctor2.jpg" alt="Primary Care Physician" width="300" height="300">
            </a>
            <div class="desc">Dr. Alex</div>
            <p> Dr. Alex has been a physician for 10 years. He earned his MD from Stony Brook School of Medicine and completed his residency at NYU Langone. In his spare time, he enjoys building Lego sets and crocheting. </p>
        </div>

        <div class="gallery">
          <a target="_blank" href="careteam">
            <img src="https://raw.githubusercontent.com/rimashah1/PssP-enhancements/main/images/nurse1.jpg" alt="Nurse" width="300" height="300">
          </a>
          <div class="desc">Nurse Nora</div>
          <p> Dr. Mia has been a nurse for 6 years. She earned her degree from Stony Brook School of Nursing. In her spare time, she enjoys col. </p>
        </div>
    
        <div class="gallery">
          <a target="_blank" href="careteam">
            <img src="https://raw.githubusercontent.com/rimashah1/PssP-enhancements/main/images/nurse2.jpg" alt="Nurse" width="300" height="300">
          </a>
          <div class="desc">Nurse Laila</div>
          <p> Dr. Mia has been a physician for 10 years. She earned her degree from Stony Brook School of Nursing. In her spare time, she enjoys video games and pilates. </p>
        </div>
      </div>
    </section>

    <footer>
        <br />
        <a href="/" class="btn btn-primary">Home</a>
    </footer>  

  </body>

</html>




